body{
    margin:auto;
    width:864px;
}
h1{
    margin:0px;
}
main{
    width:800px;
    border:2px solid red;
    margin:10px;
    padding:20px;
}
#dA{
    width:500px;
    border:1px solid blue;
    margin:15px;
    padding:20px;
    float:left;
}

#dB{
    width:196px;
    border:1px solid green;
    margin:5px;
    padding:10px;
    float:left;
}
aside{
    clear:both;
}



